.wrapper
.flash
  = render partial: 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header__current-group
      .chat-main__header__current-group_name{data:{id: @group.id}}
        = @group.name
      .chat-main__header__current-group_list
        Member:
        - @group.users.each do |member|
          = member.name
    .chat-main__header__edit-btn
      = link_to 'Edit', edit_group_path(@group), class:"deno-none"
  .messages
    = render partial: 'messages/message', collection: @messages
  .form
    = form_for [@group, @message], id:"new_message" do |f|
      .form__input-box
        = f.text_field :content, class: 'form__input-box_text', placeholder: 'type a message'
        = f.label :image, class: 'form__input-box_text_image-label' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send',  class: 'form__input-box_submit'
